$max-width: 1248px;

// Colors

$backgroud-color: #010101;
$white: #fff;
$primary-color: #F68832;
$primary-color-loading: #96521e;
$error-color: #f12828;
$sucess-color: #1e9573;
$button-hover: hsla(26, 92%, 58%, 0.894);
$active-color: #52FF00;
$inactive-color: #FF0000;
$primary-gray: #A1A1A1;