@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Mulish", sans-serif;
}

body {
  background: #010101;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  line-height: 90%;
}

h1 {
  font-size: 4rem;
}
h1 span {
  color: #F68832;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: #A1A1A1;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  background-color: #F68832;
  padding: 1.125rem 3.875rem;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: hsla(26deg, 92%, 58%, 0.894);
}

.error_input {
  border: 1px solid #f12828 !important;
}

.sucess_input {
  border: 1px solid #1e9573 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #F68832;
  border-radius: 20px;
}

.header {
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
}

.header_button {
  cursor: pointer;
  padding: 16px;
}
.header_button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #F68832;
  transition: 0.5s ease;
}
.header_button:hover::after {
  width: 100%;
}

.hero {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container div {
  display: flex;
  align-items: center;
  min-height: 60px;
}
.hero__container div span {
  font-size: 64px;
}

.text_infinite {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background: #F68832;
}
.scroll div {
  font-size: 20px;
  white-space: nowrap;
  font-weight: 500;
  -webkit-animation: animateText 80s linear infinite;
          animation: animateText 80s linear infinite;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
}
.scroll div span {
  font-weight: 900;
}
.scroll div:nth-child(2) {
  -webkit-animation: animateText2 80s linear infinite;
          animation: animateText2 80s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

.form_create {
  margin-top: 64px;
  margin-bottom: 64px;
}

.form_create_header {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form_create_header h2 {
  margin-bottom: 8px;
}

.form_create_labels {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.form_create_labels label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form_create_labels label input {
  margin-top: 0.25rem;
  border: 1px solid #A1A1A1;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  height: 48px;
}
.form_create_labels label span {
  margin-top: 8px;
  color: #f12828;
}

.button_form_create {
  display: flex;
  justify-content: center;
}

.form_create_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_awb {
  width: 430px;
  height: 214px;
  border-radius: 8px;
  border: 1px solid #F68832;
  padding: 12px;
}

.card_awb_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_awb_header span:last-child {
  font-weight: 700;
  line-height: 90%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #F68832;
  padding: 6px 18px;
}
.card_awb_header span:first-child {
  font-weight: 700;
  line-height: 90%;
  font-size: 14px;
}

.card_awb_number {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: space-around;
}
.card_awb_number div span {
  font-size: 14px;
  line-height: 90%;
  font-weight: 700;
  color: #F68832;
}
.card_awb_number div h4 {
  font-size: 56px;
  line-height: 90%;
}

.card_awb_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px;
}

.card_awb_button_arrow {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  padding: 16px;
  color: #F68832;
}
.card_awb_button_arrow a {
  border-bottom: 1px solid #F68832;
  font-size: 14px;
  font-weight: 700;
  color: #F68832;
  cursor: pointer;
  background-color: transparent;
}
.card_awb_button_arrow svg {
  transition: 0.4s ease;
}
.card_awb_button_arrow:hover svg {
  transform: translate(4px, -4px);
}

.table_card_awb_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table_card_awb_header span:first-child {
  font-weight: 700;
  line-height: 90%;
  font-size: 12px;
}
.table_card_awb_header .spanLast {
  font-weight: 700;
  line-height: 90%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #F68832;
  padding: 6px 18px;
}

.table_card_awb_number {
  justify-content: space-between;
}

.table_card_header {
  width: 754px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  border: 1px solid #F68832;
  padding: 12px;
  display: flex;
}

.table_header_date {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.table_header_date div span {
  font-weight: 700;
  font-size: 14px;
  line-height: 90%;
  color: #F68832;
}
.table_header_date div h4 {
  font-size: 14px;
  line-height: 90%;
  margin-top: 8px;
  font-weight: 400;
  max-width: 130px;
  text-overflow: ellipsis;
}
.table_header_date div:first-child {
  margin-right: 38px;
}

.table_header_button div span {
  font-weight: 700;
  font-size: 14px;
  line-height: 90%;
  color: #F68832;
}
.table_header_button div h4 {
  padding: 8px 81px;
  text-align: center;
  border: 1px solid #F68832;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 8px;
  background-color: transparent;
  border-radius: 4px;
}

.table_card_awb {
  width: 414px;
  padding-right: 16px;
}

.table_card_awb2 {
  padding-left: 24px;
  border-left: 2px solid #F68832;
}

.table_card_body {
  width: 754px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
  border: 1px solid #F68832;
  border-top: none;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.table_card_block1,
.table_card_block2 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.table_card_block1 div div:first-child,
.table_card_block2 div div:first-child {
  background-color: #F68832;
  padding: 16px;
  border: 1px solid #fff;
  border-right: 0.5px;
  color: black;
}
.table_card_block1 div div:last-child,
.table_card_block2 div div:last-child {
  font-weight: 700;
  font-size: 12px;
  line-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.table_card_block1 div:nth-child(1) {
  width: 107.2857142857px;
  white-space: nowrap;
}

.table_card_block2 div:nth-child(1) {
  width: 107.7142857143px;
}

.table_card_block_peso {
  border-right: 1px solid #fff !important;
}

.table_card_block_secundary {
  height: 54px;
  width: 100%;
  border-right: 1px solid #F68832;
  margin-left: 1px;
}

.card_container_page {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.table_container_page {
  margin-top: 24px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 32px;
}

.loader_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #010101;
  align-items: center;
}

.loader_container_ball {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, #96521e, #F68832 100%);
  -webkit-animation: animationLoad 1s linear infinite;
          animation: animationLoad 1s linear infinite;
}
.loader_container_ball:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #010101;
}

@-webkit-keyframes animationLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animationLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animateText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes animateText2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animateText2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@media screen and (max-width: 955px) {
  .hero {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
  }
  .hero__container h1 {
    font-size: 48px;
  }
  .hero__container div {
    min-height: 48px;
  }
  .hero__container div span {
    font-size: 48px;
  }
}
@media screen and (max-width: 800px) {
  .table_card_awb_header {
    justify-content: center;
  }
  .table_card_awb_header span:first-child {
    font-size: 12px;
  }
  .card_awb_number.table_card_awb_number {
    justify-content: space-around;
  }
  .card_awb_number.table_card_awb_number div span {
    font-size: 12px;
  }
  .card_awb_number.table_card_awb_number div h4 {
    font-size: 36px;
  }
  .table_card_header {
    width: 310px;
    flex-direction: column;
  }
  .table_header_date div span {
    font-size: 12px;
  }
  .table_header_date div h4 {
    font-size: 12px;
  }
  .table_header_button {
    display: flex;
    justify-content: center;
  }
  .table_header_button div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .table_header_button div span {
    font-size: 12px;
  }
  .table_header_button div h4 {
    font-size: 14px;
  }
  .table_card_awb {
    width: 300px;
    padding-bottom: 16px;
    padding-right: 0;
    border-bottom: 2px solid #F68832;
  }
  .table_card_awb2 {
    padding-top: 16px;
    padding-left: 0;
    border-left: none;
  }
  .table_card_body {
    width: 310px;
    flex-direction: column;
  }
  .table_card_block1 div div:first-child,
.table_card_block2 div div:first-child {
    background-color: #F68832;
    padding: 16px 8px;
    border: 1px solid #fff;
    border-right: 0.5px;
    color: black;
    font-size: 12px;
  }
  .table_card_block1 div div:last-child,
.table_card_block2 div div:last-child {
    font-size: 10px;
  }
  .table_card_block1 div:nth-child(1) {
    width: 77px;
    white-space: nowrap;
  }
  .table_card_block2 div:nth-child(1) {
    width: 102.6666666667px;
  }
  .table_card_block_peso {
    border-right: 1px solid #fff !important;
  }
  .table_card_block_secundary {
    height: 54px;
    width: 100%;
    border-right: 1px solid #F68832;
    margin-left: 1px;
  }
}
@media screen and (max-width: 675px) {
  .hero__container h1 {
    font-size: 36px;
  }
  .hero__container div {
    min-height: 36px;
  }
  .hero__container div span {
    font-size: 36px;
  }
}
@media screen and (max-width: 567px) {
  .hero {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .scroll {
    height: 36px;
  }
  .hero__container h1 {
    font-size: 24px;
  }
  .hero__container div {
    min-height: 24px;
  }
  .hero__container div span {
    font-size: 24px;
  }
  .card_awb {
    width: 290px;
    height: 180px;
  }
  .card_awb_header span:first-child {
    font-size: 10px;
  }
  .card_awb_header span:last-child {
    font-size: 10px;
  }
  .card_awb_number div span {
    font-size: 10px;
  }
  .card_awb_number div h4 {
    font-size: 36px;
  }
  .card_awb_button button {
    padding: 16px 8px;
  }
  .card_awb_button_arrow {
    padding: 16px 8px;
  }
}
@media screen and (max-width: 370px) {
  .hero {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .hero__container h1 {
    font-size: 18px;
  }
  .hero__container div {
    min-height: 18px;
  }
  .hero__container div span {
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */