@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Mulish", sans-serif;
}

body {
  background: #010101;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  line-height: 90%;
}

h1 {
  font-size: 4rem;
}
h1 span {
  color: #F68832;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: #A1A1A1;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  background-color: #F68832;
  padding: 1.125rem 3.875rem;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: hsla(26deg, 92%, 58%, 0.894);
}

.error_input {
  border: 1px solid #f12828 !important;
}

.sucess_input {
  border: 1px solid #1e9573 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #F68832;
  border-radius: 20px;
}

.header {
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
}

.header_button {
  cursor: pointer;
  padding: 16px;
}
.header_button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #F68832;
  transition: 0.5s ease;
}
.header_button:hover::after {
  width: 100%;
}

.hero {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container div {
  display: flex;
  align-items: center;
  min-height: 60px;
}
.hero__container div span {
  font-size: 64px;
}

.text_infinite {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background: #F68832;
}
.scroll div {
  font-size: 20px;
  white-space: nowrap;
  font-weight: 500;
  -webkit-animation: animateText 80s linear infinite;
          animation: animateText 80s linear infinite;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
}
.scroll div span {
  font-weight: 900;
}
.scroll div:nth-child(2) {
  -webkit-animation: animateText2 80s linear infinite;
          animation: animateText2 80s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

@-webkit-keyframes animateText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animateText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes animateText2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animateText2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@media screen and (max-width: 955px) {
  .hero {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
  }
  .hero__container h1 {
    font-size: 48px;
  }
  .hero__container div {
    min-height: 48px;
  }
  .hero__container div span {
    font-size: 48px;
  }
}
@media screen and (max-width: 675px) {
  .hero__container h1 {
    font-size: 36px;
  }
  .hero__container div {
    min-height: 36px;
  }
  .hero__container div span {
    font-size: 36px;
  }
}
@media screen and (max-width: 567px) {
  .hero {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .scroll {
    height: 36px;
  }
  .hero__container h1 {
    font-size: 24px;
  }
  .hero__container div {
    min-height: 24px;
  }
  .hero__container div span {
    font-size: 24px;
  }
}
@media screen and (max-width: 370px) {
  .hero {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .hero__container h1 {
    font-size: 18px;
  }
  .hero__container div {
    min-height: 18px;
  }
  .hero__container div span {
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */